body {
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
button {
  outline: none;
}
.header {
  background-image: url('img/header-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
  padding-top: 30px;
}
.shadow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(77, 68, 68, 0.77);
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}
.nav-list .nav-link {
  color: #fff;
  font-size: 16px;
}
.nav-list .item-contacts {
  display: flex;
  align-items: center;
}
.nav-list .item-contacts .nav-link-call {
  margin-left: 10px;
}
.header-box-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-ant-kids {
  max-width: 100%;
  padding-top: 70px;
  padding-bottom: 80px;
}
.header-text {
  width: 653px;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}
.header-text .color-letter-blue {
  color: #00ADEF;
}
.header-text .color-letter-yellow {
  color: #FEDD03;
}
.header-text .color-letter-red {
  color: #E94820;
}
.header-text .color-letter-green {
  color: #66C530;
}
.link-next {
  margin: 40px 0px;
  position: relative;
}
.link-next .img-next {
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.link-next::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 5px;
  left: 0px;
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.45);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(110, 246, 213, 0.0765);
  }
}
.main-mission {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-mission .mis-wrapper {
  display: flex;
}
.main-mission .mission-box {
  width: 50%;
  position: relative;
}
.main-mission .mission-box p {
  margin: 0px;
}
.main-mission .mission-box .mis-title {
  font-size: 45px;
  color: #000000;
}
.main-mission .mission-box .miss-paragraph-bold {
  margin-bottom: 45px;
  font-size: 18px;
  color: #2B2B2B;
  line-height: 27px;
}
.main-mission .mission-box .img-lines {
  margin-top: 50px;
  margin-bottom: 30px;
}
.main-mission .mission-box .our-stud {
  max-width: 515px;
}
.main-mission .mission-box .during {
  max-width: 473px;
}
.mis-text {
  font-size: 15px;
  line-height: 25px;
  color: #716E6E;
}
.mis-text-bold {
  color: #505050;
  font-weight: bold;
}
.mission-box-img {
  position: relative;
}
.mis-img-box {
  position: relative;
  height: 650px;
}
.mis-img-box .img-a {
  position: absolute;
  top: 120px;
  left: 60px;
  z-index: 5;
}
.mis-img-box .img-dots {
  position: absolute;
  bottom: 55px;
  right: 90px;
}
.mis-box-text {
  display: flex;
}
.mis-box-text .box-teach-parents {
  width: 50%;
  position: relative;
}
.mis-box-text .box-teach-parents .mis-text-img {
  position: absolute;
  right: 40px;
  max-width: 488px;
}
.mis-box-text .box-teach-parents .img-lines-teach-parents {
  position: relative;
  left: 70px;
}
.main-training {
  margin-top: 90px;
  text-align: center;
}
.training-box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.training-box-title .training-title-box {
  background: url('img/Antoshka.png') center no-repeat;
  text-align: center;
}
.training-box-title .training-desc {
  max-width: 992px;
  font-size: 20px;
  line-height: 28px;
  color: #505050;
}
.training-box-title .training-desc-bold {
  max-width: 661px;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}
.main-title {
  margin: 0px;
  padding: 60px 0px;
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
}
.kids-skills {
  display: flex;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.skill-box:first-child {
  margin-bottom: 40px;
}
.skill-box {
  display: flex;
  justify-content: space-around;
}
.skill-box .text-discovering {
  max-width: 222px;
}
.skill-box .text-balance {
  max-width: 242px;
}
.skill-box .text-act {
  max-width: 293px;
}
.skill-box .text-connection {
  max-width: 293px;
}
.skill-box .skill-text {
  text-align: center;
}
.skill-box .skill-text .skill-title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 20px;
}
.skill-box .skill-text .skill-desk {
  font-size: 15px;
  line-height: 25px;
  color: #505050;
}
.training-btn-box {
  position: relative;
  margin-top: 70px;
}
.training-btn-box .training-btn {
  padding: 20px 51px 25px 51px;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #00ADEF;
  border-radius: 51.5px;
  border: 0px;
  position: relative;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: linear;
}
.training-btn-box .training-dots {
  position: absolute;
  left: 50%;
  top: -50%;
  z-index: -1;
}
.training-btn::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border-radius: 51.5px;
  border: 2px solid #00ADEF;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: linear;
}
.training-btn:hover {
  transform: scale(0.9, 0.9);
}
.training-btn:hover::before {
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
}
.main-graduate {
  margin-top: 120px;
}
.graduate-blocks {
  display: flex;
  justify-content: center;
}
.graduate-text-box {
  background: url('img/Graduate.png') center no-repeat;
  text-align: center;
}
.graduate-text-box .graduate-title {
  max-width: 815px;
  margin: 0 auto;
}
.graduate-circle {
  margin-bottom: 50px;
  color: #505050;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.switch-decor {
  margin: 0 auto;
  width: 430px;
  margin-bottom: 65px;
  border-radius: 52.5px;
  padding: 9px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch-decor .decor-item {
  width: 50%;
  line-height: 25px;
  border: none;
  background-color: transparent;
}
.switch-decor .decor-item:first-child {
  margin-right: 15px;
}
.switch-decor .checked-item {
  border-radius: 52.5px;
}
.graduate-circle .switch-decor {
  border: 1px solid #C9C9C9;
}
.graduate-circle .switch-decor .decor-item {
  font-size: 15px;
  color: #505050;
}
.graduate-circle .switch-decor .checked-item {
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
  background: #00ADEF;
  padding: 13px 11px;
}
.box-graduate-circle {
  position: relative;
  margin-top: 65px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #C0C0C0;
  border-radius: 50%;
  width: 624.76px;
  height: 620px;
}
.box-graduate-circle .img-circle {
  border-radius: 50%;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}
.circle::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 50%;
}
.circle-text {
  position: absolute;
  text-align: center;
}
.circle-red {
  background: #E94820;
}
.circle-green {
  background: #66C530;
}
.circle-blue {
  background: #00ADEF;
}
.circle-yellow {
  background: #FEDD03;
}
.circle-red::before {
  animation: pulseCircleRed 1.5s linear infinite;
}
.circle-green::before {
  animation: pulseCircleGreen 1.5s linear infinite;
}
.circle-blue::before {
  animation: pulseCircleBlue 1.5s linear infinite;
}
.circle-yellow::before {
  animation: pulseCircleYellow 1.5s linear infinite;
}
@keyframes pulseCircleRed {
  0% {
    box-shadow: 0 0 0 0px rgba(233, 72, 32, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(233, 72, 32, 0.1);
  }
}
@keyframes pulseCircleGreen {
  0% {
    box-shadow: 0 0 0 0px rgba(102, 197, 48, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(102, 197, 48, 0.1);
  }
}
@keyframes pulseCircleBlue {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 173, 239, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 173, 239, 0.1);
  }
}
@keyframes pulseCircleYellow {
  0% {
    box-shadow: 0 0 0 0px rgba(254, 221, 3, 0.3);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(254, 221, 3, 0.1);
  }
}
.circle-content-first .circle-first-text {
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.circle-content-first .circle-first {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.circle-sec-left-text {
  width: 166px;
  top: 10px;
  left: -90px;
}
.circle-sec-right-text {
  width: 152px;
  top: 10px;
  right: -90px;
}
.circle-second-left {
  position: absolute;
  top: 62px;
  left: 113px;
}
.circle-second-right {
  top: 62px;
  position: absolute;
  right: 113px;
}
.circle-third-left {
  position: absolute;
  top: 211px;
  left: 10px;
}
.circle-third-right {
  position: absolute;
  top: 211px;
  right: 10px;
}
.circle-third-left-text {
  width: 214px;
  top: 150px;
  left: -210px;
}
.circle-third-right-text {
  width: 190px;
  top: 150px;
  right: -200px;
}
.circle-four-left {
  bottom: 180px;
  left: 20px;
}
.circle-four-left-text {
  left: -190px;
  bottom: 170px;
  width: 214px;
}
.circle-four-right {
  bottom: 180px;
  right: 20px;
}
.circle-four-right-text {
  right: -180px;
  bottom: 170px;
  width: 158px;
}
.circle-five-left {
  bottom: 55px;
  left: 120px;
}
.circle-five-left-text {
  width: 192px;
  bottom: -10px;
  left: -100px;
}
.circle-five-right {
  bottom: 55px;
  right: 120px;
}
.circle-five-right-text {
  bottom: 30px;
  right: -160px;
}
.circle-last {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.circle-last-text {
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.graduate-circle-second {
  display: none;
}
.main-family {
  margin-top: 80px;
  display: flex;
  color: #505050;
}
.family-imgs {
  position: relative;
  margin-top: 50px;
}
.family-imgs .family-dots {
  position: absolute;
  bottom: 70px;
  right: 70px;
  z-index: -1;
}
.family-text {
  background: url('img/Family.png') left / contain no-repeat;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.family-text .family-title {
  padding-top: 10px;
  max-width: 360px;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
}
.family-text-wrapper {
  margin-top: -40px;
  margin-left: 40px;
}
.family-text-wrapper .family-par {
  width: 564px;
  font-size: 16px;
  line-height: 25px;
}
.family-text-wrapper .family-par-bold {
  font-weight: 600;
  color: #131313;
}
.family-blocks {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 90px;
}
.family-text-box {
  margin-left: 110px;
}
.family-text-box .family-text-title {
  margin: 26px 0px;
}
.family-text-box .family-text-desc {
  margin-bottom: 50px;
}
.family-text-box .family-text-desc-marg {
  margin-bottom: 20px;
}
.main-facts {
  margin-top: 30px;
  margin-bottom: 40px;
}
.facts-text-box {
  background: url('img/Antoshka.png') center / contain no-repeat;
  text-align: center;
}
.facts-text-box .facts-title {
  max-width: 809px;
  margin: 0 auto;
  font-size: 65px;
  line-height: 65px;
  text-align: center;
}
.wrapper-facts {
  margin-top: 30px;
  height: 905px;
  background: url('img/kids.png') center / cover no-repeat;
  position: relative;
  color: #505050;
}
.wrapper-facts .facts-shadow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: rgba(53, 69, 68, 0.44);
}
.wrapper-facts .facts-boxes {
  text-align: center;
  background-color: #FFF;
  position: absolute;
  box-sizing: border-box;
}
.wrapper-facts .fact-cont {
  position: relative;
  z-index: 200;
}
.wrapper-facts .facts-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.wrapper-facts .feeding {
  top: 225px;
  left: 67px;
  max-width: 405px;
  max-height: 281px;
  padding: 30px;
}
.wrapper-facts .experience {
  bottom: 0px;
  right: 140px;
  width: 338px;
  height: 338px;
  padding: 50px;
}
.wrapper-facts .network {
  width: 300px;
  height: 300px;
  right: 150px;
  top: 130px;
  padding: 040px;
  transform: rotate(45deg);
}
.wrapper-facts .network .network-content {
  transform: rotate(-45deg);
}
.wrapper-facts .amount {
  width: 270px;
  height: 270px;
  left: 370px;
  bottom: 85px;
  padding: 20px;
  padding-top: 40px;
  transform: rotate(45deg);
}
.wrapper-facts .amount .amount-content {
  transform: rotate(-45deg);
  position: relative;
}
.wrapper-facts .amount .box-16 {
  position: relative;
  margin-left: 15px;
}
.wrapper-facts .amount .box-16 img:first-child {
  position: absolute;
  top: -15px;
  left: 55px;
}
.facts-boxes::before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: #000;
  border-radius: 50%;
}
.benefits-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits-text-box {
  background: url('img/Benefits.png') center / contain no-repeat;
  text-align: center;
}
.benefits-text-box .benefits-title {
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
}
.benefits-text-box .benefits-title span {
  display: block;
}
.benefit-box {
  width: 315px;
  margin-bottom: 50px;
}
.benefit-box .benefit-title-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.benefit-box .benefit-title-box .benefit-title {
  margin-left: 20px;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}
.benefit-box .benefit-desc {
  color: #505050;
  font-size: 16px;
  line-height: 25px;
}
.block-after {
  position: relative;
}
.block-after::after {
  content: '';
  display: block;
  width: 325px;
  height: 1px;
  background-color: #C1C1C1;
  position: absolute;
  top: 25px;
  right: -225px;
}
.reading-text {
  margin-top: 35px;
}
.arithmetic-text {
  margin-top: 40px;
}
.equipment-text {
  margin-top: 35px;
}
.plan-text {
  margin-top: 35px;
}
.perception-text {
  margin-top: 55px;
}
.languages-text {
  margin-top: 35px;
}
.benefit-img {
  display: flex;
  margin: 0 auto;
}
.main-questions {
  margin-bottom: 123px;
}
.main-questions .switch-decor {
  border: 1px solid #66C530;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-questions .switch-decor .decor-item {
  font-size: 25px;
  color: #585858;
}
.main-questions .switch-decor .checked-item {
  font-weight: 600;
  background: #E94820;
  color: #FFF;
  padding: 8px 11px;
}
.questions-text-box {
  background: url('img/Questions.png') center / contain no-repeat;
  text-align: center;
  margin-bottom: 50px;
}
.questions-text-box .questions-title {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.questions-lists-box {
  display: flex;
  justify-content: space-between;
}
.questions-lists-box .questions-list {
  width: 45%;
}
.questions-lists-box .questions-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  border-bottom: 1px solid #DBDBDB;
  color: #000;
  font-size: 25px;
  line-height: 25px;
}
.main-connecting {
  color: #505050;
}
.connecting-text-box {
  background: url('img/Antoshka.png') center / contain no-repeat;
  text-align: center;
}
.connecting-text-box .connecting-title {
  max-width: 864px;
  margin: 0 auto;
  text-align: center;
}
.connecting-desc {
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}
.connecting-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.connecting-col {
  margin-top: 20px;
  position: relative;
  margin-left: 45px;
}
.connecting-col .connecting-dots {
  position: absolute;
  right: 20px;
  z-index: -1;
  top: 50%;
}
.connecting-col .connecting-ellipce {
  position: absolute;
  right: -50px;
  bottom: -30px;
}
.connecting-form {
  border: 1px solid #C1C1C1;
  border-radius: 32px;
  padding: 45px 73px 55px 73px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}
.connecting-form .form {
  text-align: center;
  width: 250px;
}
.connecting-form .form .form-title {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
.connecting-form .form .form-desc {
  font-size: 16px;
  line-height: 25px;
  color: #505050;
}
.connecting-form .form .inp {
  width: 250px;
  height: 59px;
  margin-bottom: 18px;
  border: 1px solid #DBDBDB;
  border-radius: 29.5px;
  color: #D2D2D2;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  padding-left: 15px;
  box-sizing: border-box;
}
.connecting-form .form .form-btn {
  color: #FFF;
  padding: 20px 50px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  background: #00ADEF;
  border: none;
  border-radius: 29.5px;
}
.connecting-col-last {
  margin-top: 50px;
  position: relative;
}
.connecting-col-last .connecting-last-dots {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 76px;
}
.connecting-col-last .connecting-last-k {
  position: relative;
  top: 70px;
  left: 75px;
}
.main-contact {
  margin-top: 150px;
  color: #505050;
}
.contact-wrapper {
  border: 1px solid #B6B6B6;
  border-radius: 46px;
  padding: 50px 55px 50px 45px;
  box-sizing: border-box;
}
.icons-box {
  display: flex;
  max-width: 810px;
  margin: 0 auto;
  justify-content: space-between;
}
.icons-box .icon-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-box .icon-box-location {
  background: #00ADEF;
}
.icons-box .icon-box-message {
  background: #E94820;
}
.icons-box .icon-box-subscribe {
  background: #66C530;
}
.city-title .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-row .contact-street {
  max-width: 171px;
  font-size: 16px;
  line-height: 25px;
}
.contact-row .message-list {
  width: 195px;
}
.contact-row .message-list .message-link {
  font-size: 18px;
  line-height: 25px;
  color: #505050;
}
.contact-row .subscribe-list {
  max-width: 146px;
  position: relative;
  left: -100px;
}
.contact-row .subscribe-list .subscribe-link {
  display: flex;
  align-items: center;
  color: #505050;
}
.contact-row .subscribe-list .subscribe-desc {
  margin-left: 15px;
  font-size: 18px;
  line-height: 33px;
}
.contact-row:not(:last-child) {
  border-bottom: 1px solid #DBDBDB;
}
.footer {
  margin-top: 75px;
}
.footer-wrapper {
  text-align: center;
}
.footer-wrapper .nav-list {
  margin-top: 60px;
  padding-bottom: 60px;
  justify-content: space-around;
  border-bottom: 1px solid #DBDBDB;
}
.footer-wrapper .nav-list .nav-link {
  color: #111111;
  font-size: 18px;
  line-height: 18px;
}
.footer-wrapper .nav-footer {
  max-width: 782px;
}
.footer-wrapper .nav-footer .nav-list-footer {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper .nav-footer .nav-list-footer .nav-link {
  font-size: 16px;
  line-height: 16px;
  color: #828282;
}
